<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="bg-grabfreshfood text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">© 2025 GrabFreshFood. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0">Proudly authored by GDipSA60, Team 1</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
