<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GrabFreshFood</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/checkout.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<!--Payment progress bar-->
<div class="payment-progress-grid container">
    <div class="payment-progress row">
        <div class="progress-text col-2" style="padding-left: 3vh;">
            <i class="bi bi-1-circle-fill" style="margin-right: .5vh"></i>
            <p>Shipping Details</p>
        </div>
        <div class="col-8">
            <hr class="w-100 border border-secondary-subtle"/>
        </div>
        <div class="progress-text col-2" style="padding-left: 2vh">
            <i class="bi bi-1-circle" style="margin-right: .5vh"></i>
            <p>Payment</p>
        </div>
    </div>
</div>

<!--show checkout detail-->
<div class="checkout-grid-wide wide-checkout container-fluid bg-light px-4">
    <h2 class="titleHidden">Checkout List Section</h2>
    <div class="top-banner top-banner-order mb-3">
        <h5 class="fw-bold text-white m-0">
            <i class="bi bi-basket-fill me-2"></i>Review Your Order
        </h5>
        <h5 class="text-white" th:text="'Cart Id: ' + ${cartId}"></h5>
    </div>
    <div class="checkoutCard w-100">
        <div class="checkoutItems table-responsive rounded-3 shadow-sm overflow-hidden">
            <table class="table text-center align-middle mb-0">
                <thead class = "table-light">
                <tr>
                    <th style="width: 35%">Product Name</th>
                    <th style="width: 20%">Quantity</th>
                    <th style="width: 20%">Unit Price</th>
                    <th style="width: 25%">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${checkoutItems}">
                    <td th:text="${item.productName}"></td>
                    <td th:text="'x' + ${item.quantity}"></td>
                    <td th:text="'$' + ${item.unitPrice}"></td>
                    <td th:text="'$' + ${item.perProductTotalAmount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-4 text-end">
            <p class="mb-2"><strong>Service Fee: </strong><span th:text="'$' + ${serviceFee}"></span></p>
            <h5><strong>Total: </strong> <span th:text="'$' + ${orderTotalAmount}"></span></h5>
        </div>
    </div>
</div>

<!--Checkout grid-->
<div class="checkout-grid container bg-light">
    <div class="top-banner">
        <h5 class="banner-text"><span style="margin-right: 10px"><i class="bi bi-geo-alt"></i></span>Add delivery
            address</h5>
    </div>
    <form method="post" style="width: 100%" th:action="@{/checkout/pay}">
        <input name="cartId" th:value="${cartId}" type="hidden">
        <!-- Lst error message show-->
        <div class="alert alert-danger fade show mt-3" id="errorAlert" role="alert" th:if="${error}">
            <p id="errorMessage" th:text="${error}"></p>
        </div>
        <div  th:if="${orderSavedAddress != null}">
            <h6 class="fw-bold mt-2">Use your saved address</h6>
            <input type="radio" name="addressOption" value="saved" checked id ="useSaved">
            <label for="useSaved">
                <strong  th:text="${orderSavedAddress}"></strong>
            </label>
        </div>
        <hr>
        <div>
            <input type="radio" name="addressOption" value="new" id="useNew" th:checked="${orderSavedAddress == null}">
            <label for="useNew"><strong>Use a new address</strong></label>
        </div>
        <div class="checkout-form form-group" id="newAddressField">
            <label>Postal code</label>
            <input class="form-control" name="postalCode" type="text" pattern="\d{6}" maxlength="6" inputmode="numeric" title="Please enter a valid 6-digit postal code."/>
            <div class="label-row">
                <label>Building Name</label>
                <span class="optional-text">Optional</span>
            </div>
            <input class="form-control" name="buildingName" type="text"/>
            <label>Address</label>
            <input class="form-control" name="address" type="text" required/>
            <div class="row row-cols-2">
                <div class="col">
                    <label>Floor number</label>
                    <input class="form-control" name="floorNumber" type="text" required/>
                </div>
                <div class="col">
                    <label>Unit number</label>
                    <input class="form-control" name="unitNumber" type="text" required/>
                </div>
            </div>
            <h5 style="font-weight: bold; margin-top: 3vh">Recipient's information</h5>
            <hr class="w-100 border border-secondary-subtle" style="margin-bottom: -.5vh"/>
            <label>Name</label>
            <input class="form-control" name="name" type="text"/>
            <label>Phone number</label>
            <input class="form-control" name="phoneNumber" type="text"/>

        </div>
        <div class="checkout-form form-group">
            <button class="payment-button btn btn-success btn-modify" type="submit">Save & Continue</button>
        </div>
    </form>

</div>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        const useSaved = document.getElementById("useSaved");
        const useNew = document.getElementById("useNew");
        const newAddressField = document.getElementById("newAddressField");


        function showFields(){
            if (useNew.checked){
                newAddressField.style.display = 'block';
                newAddressField.querySelectorAll("input").forEach(input => {
                    input.disabled = false;
                });
            } else {
                newAddressField.style.display = 'none';
                newAddressField.querySelectorAll("input").forEach(input =>{
                    input.disabled = true;
                });
            }
        }

        useSaved.addEventListener('change', showFields);
        useNew.addEventListener('change',showFields);

        showFields();
    })

    window.addEventListener("DOMContentLoaded", () => {
        const errorAlert = document.getElementById("errorAlert");
        if (errorAlert) {
            setTimeout(() => {
                errorAlert.classList.remove("show");

                setTimeout(() => {
                    errorAlert.style.display = "none";
                }, 500)
            }, 3000)
        }
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<div th:replace="~{fragments/scripts :: dropdown-hover-script}"></div>

</body>

</html>
